.App{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
 
}

.heading{
  font-family: 'Abril Fatface', cursive;
}


.nav-link{
  text-decoration: none;
  color:#393a3b;
  font-size: 20px;
  font-weight: 500;
}

.nav-link:hover{
  color: #16175e;
top:-10px;
  
}

.butt {
  background: #16175e;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
}

.butt:hover{
  background: #393a3b;
}

.icon-bar {
  position: fixed;
  top: 50%;
 
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  color: #16175e;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
 color: #393a3b;
}


